<!DOCTYPE html>
<html lang="en" th:xmlns="http://www.thymeleaf.org" th:replace="base:: layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <div class="center-content">
            <div class="content-1">
                <div class="con-text-2">
                    <p><br>Let me introduce myself.
                        <br>
                        <br>
                        <br>
                        Hey , My name is Nitish Kumar
                        , and I’m a pre-final year Computer Science student with a strong passion for Java development
                        and backend engineering. I specialize in Java and Spring Boot, and I’ve been actively building
                        real-world applications to sharpen my skills.
                        <br>
                        One of my key projects is Smart Contact Manager — a web-based application that allows users to
                        securely store, manage, and retrieve their contacts online. This system is particularly useful
                        in cases where users lose access to their smartphones, as they can still retrieve their contact
                        list by logging into the platform. It combines practical problem-solving with modern Java
                        technologies.
                        <br>
                        I'm currently focused on strengthening my communication skills, working on collaborative coding
                        projects, and contributing to open-source to prepare for a career as a Java Developer. I'm
                        always excited to learn new technologies, especially those related to backend systems, APIs, and
                        scalable web services.

                        Beyond coding, I'm passionate about clean architecture, writing readable and maintainable code,
                        and understanding the “why” behind the tools I use. I'm looking forward to joining a team where
                        I can contribute, grow, and build impactful software.
                    </p>

                </div>
            </div>
        </div>
        <div id="contact-details">
            <h3 id="contact" class="sq" style="color: cadetblue;">Contact-details</h3>
            <br>
            <hr>
            <h4 id="contact">LinkedIn : <span><a class="link-contact" href="https://www.linkedin.com/in/nitish-kumar-feb2/" style="text-decoration: none; ">Click here</a></span></h4>
            <h4 id="contact">Email : <span><h4><b>nitishk0014@gmail.com</b></h4></span></h4>
            <h5 id="contact1">For more query connect with me on LinkedIn.</h5>

</html>